@font-face {
    font-family: 'Helvetica';
    src: url('../assets/fonts/Helvetica.eot');
    src: url('../assets/fonts/Helvetica.eot') format('embedded-opentype'), url('../assets/fonts/Helvetica.woff2') format('woff2'), url('../assets/fonts/Helvetica.woff') format('woff'), url('../assets/fonts/Helvetica.ttf') format('truetype'), url('../assets/fonts/Helvetica.svg#Helvetica') format('svg');
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaLTStdBold';
    src: url('../assets/fonts/HelveticaLTStdBold.eot');
    src: url('../assets/fonts/HelveticaLTStdBold.eot') format('embedded-opentype'), url('../assets/fonts/HelveticaLTStdBold.woff2') format('woff2'), url('../assets/fonts/HelveticaLTStdBold.woff') format('woff'), url('../assets/fonts/HelveticaLTStdBold.ttf') format('truetype'), url('../assets/fonts/HelveticaLTStdBold.svg#HelveticaLTStdBold') format('svg');
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueLTStdMd';
    src: url('../assets/fonts/HelveticaNeueLTStdMd.eot');
    src: url('../assets/fonts/HelveticaNeueLTStdMd.eot') format('embedded-opentype'), url('../assets/fonts/HelveticaNeueLTStdMd.woff2') format('woff2'), url('../assets/fonts/HelveticaNeueLTStdMd.woff') format('woff'), url('../assets/fonts/HelveticaNeueLTStdMd.ttf') format('truetype'), url('../assets/fonts/HelveticaNeueLTStdMd.svg#HelveticaNeueLTStdMd') format('svg');
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueLTStdBlk';
    src: url('../assets/fonts/HelveticaNeueLTStdBlk.eot');
    src: url('../assets/fonts/HelveticaNeueLTStdBlk.eot') format('embedded-opentype'), url('../assets/fonts/HelveticaNeueLTStdBlk.woff2') format('woff2'), url('../assets/fonts/HelveticaNeueLTStdBlk.woff') format('woff'), url('../assets/fonts/HelveticaNeueLTStdBlk.ttf') format('truetype'), url('../assets/fonts/HelveticaNeueLTStdBlk.svg#HelveticaNeueLTStdBlk') format('svg');
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueLTStdTh';
    src: url('../assets/fonts/HelveticaNeueLTStdTh.eot');
    src: url('../assets/fonts/HelveticaNeueLTStdTh.eot') format('embedded-opentype'), url('../assets/fonts/HelveticaNeueLTStdTh.woff2') format('woff2'), url('../assets/fonts/HelveticaNeueLTStdTh.woff') format('woff'), url('../assets/fonts/HelveticaNeueLTStdTh.ttf') format('truetype'), url('../assets/fonts/HelveticaNeueLTStdTh.svg#HelveticaNeueLTStdTh') format('svg');
    font-display: swap;
}