$white: #ffffff;
$black: #000000;

$regular_font-family:"Helvetica",
sans-serif;
$black_font-family:"HelveticaNeueLTStdBlk",
sans-serif;
$bold_font-family:"HelveticaLTStdBold",
sans-serif;
$medium_font-family:"HelveticaNeueLTStdMd",
sans-serif;
$thin_font-family:"HelveticaNeueLTStdTh",
sans-serif;