@import "_fonts";
@import "_variables";


body {
    font-family: $regular_font-family;
    background-color: #ffe7e7;
}

.sa-head {
    font-family: $black_font-family;
    color: $white;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 1;
    text-align: center;
    margin: 15px 0px;
}

.sa-title {
    color: $black;
    text-align: center;
    font-size: 16px;
    font-family: $regular_font-family;
    text-transform: uppercase;
    margin-bottom: 20px;

    span {
        font-family: $bold_font-family;
    }
}

.sa {
    &-list {
        display: flex;
        justify-content: space-evenly;
        margin: 0 -10px;
    }

    &-item {
        width: 25%;
        padding: 0 10px;
        margin: 0 10px;
    }
}

.sa-screen {
    background-color: $white;
    border-radius: 10px;
    height: 480px;
    box-shadow: 0px 0px 10px inset #808080;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
    border: none;

    &:focus {
        outline: none;
    }
}

.sa-btn-group {
    .btn-click {
        display: block;
        width: 75%;
        background-color: $white;
        margin: 0 auto;
        box-shadow: 0px 0px 6px rgba(128, 128, 128, 0.3);
        border-radius: 20px;
        padding: 10px;

        &+.btn-click {
            margin-top: 20px;
        }

        img {
            width: 50%;
            margin: 0 auto;
        }

        .label {
            font-size: 18px;
            font-family: $medium_font-family;
            margin-bottom: 0px;
            margin-top: 10px;
        }
    }
}

.input-value {
    width: 75%;
    margin: 0 auto;
    height: 150px;
    border-radius: 20px;
    text-align: center;
    font-size: 60px;
    font-family: $black_font-family;

    &::placeholder {
        color: rgba(128, 128, 128, 0.3);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        white-space: break-spaces;
        font-size: 20px;
    }

    &:focus {
        border: none;
        box-shadow: 0px 0px 6px rgba(128, 128, 128, 0.3);
    }
}